#Folders
venv/src/data/RecursosBll1000
venv/src/data/ResultadosBll1000
venv/src/data/RecortesBll1000
venv/src/data/RecursosOCR

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments


# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
venv/src/data/RecursosBll1000/imgb-1000-1.jpg
venv/src/data/RecursosBll1000/imgb-1000-2.jpg
venv/src/data/RecursosBll1000/imgb-1000-3.jpg
venv/src/data/RecursosBll1000/imgb-1000-4.jpg
venv/src/data/RecursosBll1000/imgb-1000-5.jpg
venv/src/data/RecursosBll1000/imgb-1000-6.jpg
venv/src/data/RecursosBll1000/imgb-1000-7.jpg
venv/src/data/RecursosBll1000/imgb-1000-8.jpg
venv/src/data/RecursosBll1000/imgb-1000-9.jpg
venv/src/data/RecursosBll1000/imgb-1000-10.jpg
venv/src/data/RecursosBll1000/imgb-1000-11.jpg
venv/src/data/RecursosBll1000/imgb-1000-12.jpg
venv/src/data/RecursosBll1000/imgb-1000-13.jpg
venv/src/data/RecursosBll1000/imgb-1000-14.jpg
venv/src/data/RecursosBll1000/imgb-1000-15.jpg
venv/src/data/RecursosBll1000/imgb-1000-16.jpg
venv/src/data/RecursosBll1000/imgb-1000-17.jpg
venv/src/data/RecursosBll1000/imgb-1000-18.jpg
venv/src/data/RecursosBll1000/imgb-1000-19.jpg
venv/src/data/RecursosBll1000/imgb-1000-20.jpg
venv/src/data/RecursosBll1000/imgb-1000-21.jpg
venv/src/data/RecursosBll1000/imgb-1000-22.jpg
venv/src/data/RecursosBll1000/imgb-1000-23.jpg
venv/src/data/RecursosBll1000/imgb-1000-24.jpg
venv/src/data/RecursosBll1000/imgb-1000-25.jpg
venv/src/data/RecursosBll1000/imgb-1000-26.jpg
venv/src/data/RecursosBll1000/imgb-1000-27.jpg
venv/src/data/RecursosBll1000/imgb-1000-28.jpg
venv/src/data/RecursosBll1000/imgb-1000-29.jpg
venv/src/data/RecursosBll1000/imgb-1000-30.jpg
venv/src/data/RecursosBll1000/imgb-1000-31.jpg
venv/src/data/RecursosBll1000/imgb-1000-32.jpg
venv/src/data/RecursosBll1000/imgb-1000-33.jpg
venv/src/data/RecursosBll1000/imgb-1000-34.jpg
venv/src/data/RecursosBll1000/imgb-1000-35.jpg
venv/src/data/RecursosBll1000/imgb-1000-36.jpg
venv/src/data/RecursosBll1000/imgb-1000-37.jpg
venv/src/data/RecursosBll1000/imgb-1000-38.jpg
venv/src/data/RecursosBll1000/imgb-1000-39.jpg
venv/src/data/RecursosBll1000/imgb-1000-40.jpg
venv/src/data/RecursosBll1000/imgb-1000-41.jpg
venv/src/data/RecursosBll1000/imgb-1000-42.jpg
venv/src/data/RecursosBll1000/imgb-1000-43.jpg
venv/src/data/RecursosBll1000/imgb-1000-44.jpg
venv/src/data/RecursosBll1000/imgb-1000-45.jpg
venv/src/data/RecursosBll1000/imgb-1000-46.jpg
venv/src/data/RecursosBll1000/imgb-1000-47.jpg
venv/src/data/RecursosBll1000/imgb-1000-48.jpg
venv/src/data/RecursosBll1000/imgb-1000-49.jpg
venv/src/data/RecursosBll1000/imgb-1000-50.jpg
venv/src/data/RecursosBll1000/imgb-1000-51.jpg
venv/src/data/RecursosBll1000/imgb-1000-52.jpg
venv/src/data/RecursosBll1000/imgb-1000-53.jpg
venv/src/data/RecursosBll1000/imgb-1000-54.jpg
venv/src/data/RecursosBll1000/imgb-1000-55.jpg
venv/src/data/RecursosBll1000/imgb-1000-56.jpg
venv/src/data/RecursosBll1000/imgb-1000-57.jpg
venv/src/data/RecursosBll1000/imgb-1000-58.jpg
venv/src/data/RecursosBll1000/imgb-1000-59.jpg
venv/src/data/RecursosBll1000/imgb-1000-60.jpg
venv/src/data/RecursosBll1000/imgb-1000-61.jpg
venv/src/data/RecursosBll1000/imgb-1000-62.jpg
venv/src/data/RecursosBll1000/imgb-1000-63.jpg
venv/src/data/RecursosBll1000/imgb-1000-64.jpg
venv/src/data/RecursosBll1000/imgb-1000-65.jpg
venv/src/data/RecursosBll1000/imgb-1000-66.jpg
venv/src/data/RecursosBll1000/imgb-1000-67.jpg
venv/src/data/RecursosBll1000/imgb-1000-68.jpg
venv/src/data/RecursosBll1000/imgb-1000-69.jpg
venv/src/data/RecursosBll1000/imgb-1000-70.jpg
venv/src/data/RecursosBll1000/imgb-1000-71.jpg
venv/src/data/RecursosBll1000/imgb-1000-72.jpg
venv/src/data/RecursosBll1000/imgb-1000-73.jpg
venv/src/data/RecursosBll1000/imgb-1000-74.jpg
venv/src/data/RecursosBll1000/imgb-1000-75.jpg
venv/src/data/RecursosBll1000/imgb-1000-76.jpg
venv/src/data/RecursosBll1000/imgb-1000-77.jpg
venv/src/data/RecursosBll1000/imgb-1000-78.jpg
venv/src/data/RecursosBll1000/imgb-1000-79.jpg
venv/src/data/RecursosBll1000/imgb-1000-80.jpg
venv/src/data/RecursosBll1000/imgb-1000-81.jpg
venv/src/data/RecursosBll1000/imgb-1000-82.jpg
venv/src/data/RecursosBll1000/imgb-1000-83.jpg
venv/src/data/RecursosBll1000/imgb-1000-84.jpg
venv/src/data/RecursosBll1000/imgb-1000-85.jpg
venv/src/data/RecursosBll1000/imgb-1000-86.jpg
venv/src/data/RecursosBll1000/imgb-1000-87.jpg
venv/src/data/RecursosBll1000/imgb-1000-88.jpg
venv/src/data/RecursosBll1000/imgb-1000-89.jpg
venv/src/data/RecursosBll1000/imgb-1000-90.jpg
venv/src/data/RecursosBll1000/imgb-1000-91.jpg
venv/src/data/RecursosBll1000/imgb-1000-92.jpg
venv/src/data/RecursosBll1000/imgb-1000-93.jpg
venv/src/data/RecursosBll1000/imgb-1000-94.jpg
venv/src/data/RecursosBll1000/imgb-1000-95.jpg
venv/src/data/RecursosBll1000/imgb-1000-96.jpg
venv/src/data/RecursosBll1000/imgb-1000-97.jpg
venv/src/data/RecursosBll1000/imgb-1000-98.jpg
venv/src/data/RecursosBll1000/imgb-1000-99.jpg
venv/src/data/RecursosBll1000/imgb-1000-100.jpg
venv/src/data/RecursosBll1000/imgb-1000-101.jpg
venv/src/data/RecursosBll1000/imgb-1000-102.jpg
venv/src/data/RecursosBll1000/imgb-1000-103.jpg
venv/src/data/RecursosBll1000/imgb-1000-104.jpg
venv/src/data/RecursosBll1000/imgb-1000-105.jpg
venv/src/data/RecursosBll1000/imgb-1000-106.jpg
venv/src/data/RecursosBll1000/imgb-1000-107.jpg
venv/src/data/RecursosBll1000/imgb-1000-108.jpg
venv/src/data/RecursosBll1000/imgb-1000-109.jpg
venv/src/data/RecursosBll1000/imgb-1000-110.jpg
venv/src/data/RecursosBll1000/imgb-1000-111.jpg
venv/src/data/RecursosBll1000/imgb-1000-112.jpg
venv/src/data/RecursosBll1000/imgb-1000-113.jpg
venv/src/data/RecursosBll1000/imgb-1000-114.jpg
venv/src/data/RecursosBll1000/imgb-1000-115.jpg
venv/src/data/RecursosBll1000/imgb-1000-116.jpg
venv/src/data/RecursosBll1000/imgb-1000-117.jpg
venv/src/data/RecursosBll1000/imgb-1000-118.jpg
venv/src/data/RecursosBll1000/imgb-1000-119.jpg
venv/src/data/RecursosBll1000/imgb-1000-120.jpg
venv/src/data/RecursosBll1000/imgb-1000-121.jpg
venv/src/data/RecursosBll1000/imgb-1000-122.jpg
venv/src/data/RecursosBll1000/imgb-1000-123.jpg
venv/src/data/RecursosBll1000/imgb-1000-124.jpg
venv/src/data/RecursosBll1000/imgb-1000-125.jpg
venv/src/data/RecursosBll1000/imgb-1000-126.jpg
venv/src/data/RecursosBll1000/imgb-1000-127.jpg
venv/src/data/RecursosBll1000/imgb-1000-128.jpg
venv/src/data/RecursosBll1000/imgb-1000-129.jpg
venv/src/data/RecursosBll1000/imgb-1000-130.jpg
venv/src/data/RecursosBll1000/imgb-1000-131.jpg
venv/src/data/RecursosBll1000/imgb-1000-132.jpg
